* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: main;
  src: url('../font/adobemingstd-light.otf');
}

@font-face {
  font-family: digit;
  src: url('../font/Seven\ Segment.ttf');
}

@font-face {
  font-family: vazir;
  src: url('../font/Vazir.ttf');
}

html {
  scroll-behavior: smooth;
}